ClienteLibroConsole/Connected Services/ServiceReference1/LibroService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CrearLibro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="titulo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="autor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="isbn" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="año" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearLibroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CrearLibroResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeerLibros">
        <s:complexType />
      </s:element>
      <s:element name="LeerLibrosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LeerLibrosResult" type="tns:ArrayOfLibro" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLibro">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Libro" nillable="true" type="tns:Libro" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Libro">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Titulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Autor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISBN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Año" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActualizarLibro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="titulo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="autor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="isbn" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="año" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarLibroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActualizarLibroResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarLibro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarLibroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EliminarLibroResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CrearLibroSoapIn">
    <wsdl:part name="parameters" element="tns:CrearLibro" />
  </wsdl:message>
  <wsdl:message name="CrearLibroSoapOut">
    <wsdl:part name="parameters" element="tns:CrearLibroResponse" />
  </wsdl:message>
  <wsdl:message name="LeerLibrosSoapIn">
    <wsdl:part name="parameters" element="tns:LeerLibros" />
  </wsdl:message>
  <wsdl:message name="LeerLibrosSoapOut">
    <wsdl:part name="parameters" element="tns:LeerLibrosResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarLibroSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarLibro" />
  </wsdl:message>
  <wsdl:message name="ActualizarLibroSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarLibroResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarLibroSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarLibro" />
  </wsdl:message>
  <wsdl:message name="EliminarLibroSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarLibroResponse" />
  </wsdl:message>
  <wsdl:portType name="LibroServiceSoap">
    <wsdl:operation name="CrearLibro">
      <wsdl:input message="tns:CrearLibroSoapIn" />
      <wsdl:output message="tns:CrearLibroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LeerLibros">
      <wsdl:input message="tns:LeerLibrosSoapIn" />
      <wsdl:output message="tns:LeerLibrosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarLibro">
      <wsdl:input message="tns:ActualizarLibroSoapIn" />
      <wsdl:output message="tns:ActualizarLibroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarLibro">
      <wsdl:input message="tns:EliminarLibroSoapIn" />
      <wsdl:output message="tns:EliminarLibroSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LibroServiceSoap" type="tns:LibroServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearLibro">
      <soap:operation soapAction="http://tempuri.org/CrearLibro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeerLibros">
      <soap:operation soapAction="http://tempuri.org/LeerLibros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarLibro">
      <soap:operation soapAction="http://tempuri.org/ActualizarLibro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarLibro">
      <soap:operation soapAction="http://tempuri.org/EliminarLibro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LibroServiceSoap12" type="tns:LibroServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearLibro">
      <soap12:operation soapAction="http://tempuri.org/CrearLibro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeerLibros">
      <soap12:operation soapAction="http://tempuri.org/LeerLibros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarLibro">
      <soap12:operation soapAction="http://tempuri.org/ActualizarLibro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarLibro">
      <soap12:operation soapAction="http://tempuri.org/EliminarLibro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LibroService">
    <wsdl:port name="LibroServiceSoap" binding="tns:LibroServiceSoap">
      <soap:address location="https://localhost:44392/LibroService.asmx" />
    </wsdl:port>
    <wsdl:port name="LibroServiceSoap12" binding="tns:LibroServiceSoap12">
      <soap12:address location="https://localhost:44392/LibroService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>